$mobile-widths-only: "(max-width: 659px)";
$desktop-widths: "(min-width: 660px)";

$mobile-width: 260px;
$desktop-width: 980px;

$main-bg: #ffffff;
$main-text-color: #ff431e;
$main-alt-text-color: #0694f8;
$main-border-color: #c8c8c8;
$links-color: #000000;
$intro-text-shadow: #1e1e1e;
$main-btn-color: #0694f8;
$main-btn-shadow: #0568b5;
