.form-apply-send {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: darkkhaki;
  @media #{$mobile-widths-only} {
    @include content-center;
    width: $mobile-width;
  }
}
.form-apply-send__input {
  width: 240px;
  @include content-center;
  @media #{$mobile-widths-only} {
  }
}
.form-apply-send__submit-apply {
  width: 240px;
  @include content-center;
}
