.information {
  width: 100%;
  box-sizing: border-box;
  padding-top: 67px;
  padding-bottom: 26px;
  @media #{$mobile-widths-only} {
    background-image: url("../img/things.png");
    background-repeat: no-repeat;
    background-position: center 310px;
  }
  @media #{$desktop-widths} {
    padding-top: 234px;
    padding-bottom: 76px;
    background-image: url("../img/things--desktop.png"), url("../img/arrows.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center 90px, center 305px;
  }
}
.information__wrapper {
  @include content-center;
  box-sizing: border-box;
  display: flex;
  @media #{$mobile-widths-only} {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  @media #{$desktop-widths} {
    max-width: $desktop-width;
    flex-direction: row;
    justify-content: space-between;
  }
}
.information__description-field {
  box-sizing: border-box;
  @media #{$mobile-widths-only} {
    width: $mobile-width;
  }
  @media #{$desktop-widths} {
    width: 490px;
    flex-grow: 0;
    padding-top: 85px;
  }
}
.information__title {
  color: $main-alt-text-color;
  text-align: right;
  font-family: 'inglobal', 'Times New Roman', serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-style: italic;
  @media #{$desktop-widths} {
    line-height: inherit;
    font-size: 36px;
    text-align: left;
  }
}
.information__description {
  text-align: right;
  font-size: 14px;
  line-height: 24px;
  @media #{$desktop-widths} {
    font-size: 16px;
    text-align: left  ;
  }
}
.information__form-field {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  background-color: $main-bg;
  padding-top: 50px;
  border-top: 1px solid $main-border-color;
  @media #{$mobile-widths-only} {
    margin-top: 127px;
    width: 320px;
  }
  @media #{$desktop-widths} {
    flex-shrink: 0;
    width: 320px;
    border: 1px solid $main-border-color;
    border-radius: 5px;
    padding-bottom: 30px;
  }
}
.information__form-field::before {
  content: "";
  position: absolute;
  background-image: url("../img/hat.png");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 3;
  top: -127px;
  left: -103px;
  width: 228px;
  height: 206px;
}
.information__form-field::after {
  content: "";
  position: absolute;
  background-image: url("../img/box-and-flag.png");
  background-repeat: no-repeat;
  background-position: center center;
  top: -172px;
  left: 40px;
  width: 251px;
  height: 254px;
}
.information__form-field__title {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.information__form-field__description {
  display: block;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 19px;
  @media #{$desktop-widths} {
    font-size: 14px;
  }
}
.information__contacts {
  background-image: url("../img/divider.png");
  background-repeat: no-repeat;
  background-position: center 15px;
  box-sizing: border-box;
  padding-top: 45px;
}
.information__contacts-title {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.information__contacts-description {
  display: block;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  @media #{$desktop-widths} {
    font-size: 14px;
  }
}
.information__contacts-phone {
  display: block;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: $main-alt-text-color;
}
