.tech__form-field {
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  background-color: $main-bg;
  top: 20%;
  transition: left 0.3s ease-out 0.1s;
  left: -320px;
  padding-top: 50px;
  border-top: 1px solid $main-border-color;
  @media #{$mobile-widths-only} {
    display: none;
  }
  @media #{$desktop-widths} {
    flex-shrink: 0;
    width: 320px;
    border: 1px solid $main-border-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 30px;
  }
}
.tech__form-field--active {
  left: 0;
}
.tech__btn-call {
  position: absolute;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  transform: rotate(-90deg);
  top: 73px;
  right: -126px;
  background-image: url("../img/tech-btn.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  padding-left: 17px;
  padding-top: 14px;
  cursor: pointer;
}
.tech__form-field__title {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.tech__form-field__description {
  display: block;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 19px;
  @media #{$desktop-widths} {
    font-size: 14px;
  }
}
.tech__contacts {
  background-image: url("../img/divider.png");
  background-repeat: no-repeat;
  background-position: center 15px;
  box-sizing: border-box;
  padding-top: 45px;
}
.tech__contacts-title {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.tech__contacts-description {
  display: block;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  @media #{$desktop-widths} {
    font-size: 14px;
  }
}
.tech__contacts-phone {
  display: block;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: $main-alt-text-color;
}
